[user]
	name = Frikk Herding
	email = frikksol@gmail.com
[pull]
	ff = only
[core]
	autocrlf = input
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
