layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="1 general" cwd="$HOME/hafslund" {
        pane name="general"
    }
    tab name="2 common" cwd="$HOME/hafslund" {
        pane split_direction="Horizontal" {
            pane split_direction="Vertical" {
                pane cwd="./asset-catalog" name="asset-catalog"
                pane cwd="./asset-activator" name="asset-activator"
            }
            pane split_direction="Vertical" {
                pane cwd="./availability-governor" name="availability-governor"
                pane cwd="./availability-ingestor" name="availability-ingestor"
            }
        }
    }
    tab name="3 nodes" cwd="$HOME/hafslund" {
        pane split_direction="Vertical" {
            pane cwd="./nodes-trader" name="nodes-trader"
            pane cwd="./nodes-trading-optimizer" name="nodes-trading-optimizer"
            pane cwd="./nodes-courier" name="nodes-courier"
        }
    }
    tab name="4 admin" cwd="$HOME/hafslund" {
        pane split_direction="Horizontal" {
            pane split_direction="Vertical" {
                pane cwd="./hflex-infra" name="infra"
                pane cwd="./hflex-libs" name="libs"
            }
            pane split_direction="Vertical" {
                pane cwd="./integration-test" name="int-test"
                pane cwd="./decision-log" name="decision-log"
            }
        }
    }
}
